@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto Slab, serif !important;
  background-color: #f5f5f5 !important ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout-content {
  min-height: 667px;
}

.btnPrimary {
  all: unset;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  background-color: #1d86b8;
  width: 270px;
  text-align: center;
  border-radius: 5px;
  &:hover {
    background-color: #50b6e7;
  }
}
.btnSecondary {
  all: unset;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  background-color: orange;
  width: 270px;
  text-align: center;
  border-radius: 5px;
  &:hover {
    opacity: 0.9;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eff6ff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #50b6e7; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d86b8; 
}